---
- name: Configure vconsole.
  ansible.builtin.template:
    src: "templates/etc/{{ item }}.j2"
    dest: "/etc/{{ item }}"
    group: root
    owner: root
    mode: "0755"
  loop: "{{ vconsole_files }}"
  loop_control:
    label: "{{ item }}"
  become: true
  when: configure_vconsole is truthy(convert_bool=True)
